[submodule "thirdparty/zpp_bits/zpp_bits"]
	path = thirdparty/zpp_bits/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "mcp/thirdparty/eigen/eigen"]
	path = mcp/thirdparty/eigen/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "mcp/thirdparty/opencv/opencv"]
	path = mcp/thirdparty/opencv/opencv
	url = https://github.com/opencv/opencv.git
[submodule "mcp/thirdparty/easy_profile/easy_profile"]
	path = mcp/thirdparty/easy_profiler/easy_profiler
	url = https://github.com/yse/easy_profiler.git
