[submodule "thirdparty/zpp_bits/zpp_bits"]
	path = thirdparty/zpp_bits/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "mcp/thirdparty/eigen/eigen"]
	path = thirdparty/eigen/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "mcp/thirdparty/opencv/opencv"]
	path = thirdparty/opencv/opencv
	url = https://github.com/opencv/opencv.git
[submodule "mcp/thirdparty/easy_profile/easy_profile"]
	path = thirdparty/easy_profiler/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "thirdparty/sml/sml"]
	path = thirdparty/sml/sml
	url = https://github.com/boost-ext/sml.git
[submodule "thirdparty/arduino_plotter/arduino_plotter"]
	path = thirdparty/arduino_plotter/arduino_plotter
	url = https://github.com/devinaconley/arduino-plotter.git
